In [1]:
import pandas as pd
import numpy as np

In [3]:
sungjin = pd.read_csv('output.csv')
sungjin = sungjin[sungjin['Unnamed: 0'] != 43000]
sungjin.rename({'Unnamed: 0':'인덱스'}, axis=1, inplace=True)
sungjin = sungjin[['인덱스','본문','요약','제목']]
sungjin.reset_index(drop=True, inplace=True)

In [4]:
sungjin

,인덱스,본문,요약,제목
0,1,팀 이대성 122 117로 팀 허웅 제압 전성현 3점슛 9개 분전허웅 생애 첫 ...,팀 이대성 122 117로 팀 허 웅 제압 전 성현 3점 슛 9개 분전 허 웅 생애...,"하윤기, 덩크 9방에 생애 첫 올스타전 MVP"
1,3,제2의 진박감별사가 당 쥐락펴락 나경원 비판에 응수 국민의힘 장제원 의원 나...,제 2의 진 박 감별사가 당 쥐락펴락 나 경원 비판에 응수 국민의 힘 장 제원 의원...,"장제원, 나경원 향해 “제2의 유승민 되지 말기를”"
2,5,양금희 국민의힘 의원 대구 북구갑 . 대구...,이 한길 리서치에 의뢰해 지난 9~11 일 대구 북구 갑에 거주하는 만 18세 이상...,[대구 국회의원 평가 여론조사] 북구갑 양금희 당직 맡아 국회평가 높아
3,7,김상훈 국민의힘 의원 대구 서구 . 대구 ...,이 한길 리서치에 의뢰해 지난 9~11 일 대구 서구에 거주하는 만 18세 이상 남...,[대구 국회의원 평가 여론조사] 서구 김상훈 3선 의정활동 평가 무난
4,9,류성걸 국민의힘 의원 대구 동구갑 . 류성...,이 한길 리서치에 의뢰해 지난 9~11 일 대구 동구 갑에 거주하는 만 18세 이상...,[대구 국회의원 평가 여론조사] 동구갑 류성걸 의원
...,...,...,...,...
39940,80036,우상혁이 20일 2023 부다페스트 세계육상선수권 남자 높이뛰기 예선에서 바를 넘고...,우상 혁은 20일 이하 한국 시간 헝가리 부 다 페스트 국립 육상 경기장에서 열린 ...,1년 전 銀을 金으로 우상혁 '위대한 도전'
39941,80038,중소벤처기업부 실장급 전보 중소기업정책실장 이대희 소상공인정책실장 원영준 국...,중소 벤처기업 부 실장 급 전보 중소기업정책실장 이 대희 소 상공인정책실장 원 영준...,[인사] 중소벤처기업부 외
39942,80040,유튜버 김용호씨. 유튜브 채널 강용석 나이트 라이브 캡처연예 출신 유튜...,라는 제목의 영상을 통해 2019년 8월 김용호 연예부장 채널에서 방송한 조국 전 ...,"'명예훼손 실형' 김용호, 조국 김건모 전처에 사과 ""깊이 반성"""
39943,80042,윤희근 경찰청장이 18일 충북 충주시 중앙경찰학교에서 열린 신임경찰 제312기 졸업...,하위직 경찰관이 부족하다는 비판에 대해 경찰은 6 급 경감 이하 정 현원 불일치는 ...,이러니 치안 불안할 수 밖에 현장 누빌 순경 1.4만명 부족
39944,80044,무더운 날씨를 기록한 지난 14일 서울 경복궁을 찾은 관광객들이 양산으로 햇볕을 피...,전국이 대체로 흐린 가운데 중부지방은 오후부터 구름이 많겠고 경기 동부와 강원 내륙...,[오늘의 날씨]낮 최고 33도 무더위 일부 지역 소나기

In [50]:
yunmi = pd.read_csv('nouns_df_topic.csv')
yunmi = yunmi[['명사','Topic']]
yunmi['인덱스'] = sungjin['인덱스']

In [51]:
yunmi

                                                      명사  Topic    인덱스
0      ['이대성', '허웅', '제압', '성현', '점슛', '분전', '허웅', '생...      7      1
1      ['진박', '감별', '사가', '쥐락펴락', '나경원', '비판', '응수', ...      2      3
2      ['양금', '국민', '의원', '대구', '북구', '대구', '북구', '주민...      2      5
3      ['김상훈', '국민', '의원', '대구', '서구', '대구', '서구', '주...      2      7
4      ['류성걸', '국민', '의원', '대구', '류성걸', '국민', '의원', '...      2      9
...                                                  ...    ...    ...
39940  ['우상혁', '부다페스트', '세계', '육상', '선수권', '남자', '높이뛰...      7  80036
39941  ['중소', '벤처기업', '실장', '전보', '중소기업', '정책', '실장',...      1  80038
39942  ['유튜버', '김용호', '유튜브', '채널', '강용석', '나이트', '라이브...      4  80040
39943  ['윤희', '경찰청장', '충북', '충주시', '중앙', '경찰', '학교', ...      4  80042
39944  ['날씨', '기록', '지난', '서울', '경복궁', '관광객', '양산', '...      6  80044

[39945 rows x 3 columns]

In [54]:
youna = pd.read_csv('senti_result.csv')
youna['인덱스'] = sungjin['인덱스']

In [55]:
youna

                                                      명사  감성점수  감성분석결과    인덱스
0      ['이대성', '허웅', '제압', '성현', '점슛', '분전', '허웅', '생...     6       1      1
1      ['진박', '감별', '사가', '쥐락펴락', '나경원', '비판', '응수', ...    -3       0      3
2      ['양금', '국민', '의원', '대구', '북구', '대구', '북구', '주민...     9       1      5
3      ['김상훈', '국민', '의원', '대구', '서구', '대구', '서구', '주...    14       1      7
4      ['류성걸', '국민', '의원', '대구', '류성걸', '국민', '의원', '...    12       1      9
...                                                  ...   ...     ...    ...
39940  ['우상혁', '부다페스트', '세계', '육상', '선수권', '남자', '높이뛰...    -7       0  80036
39941  ['중소', '벤처기업', '실장', '전보', '중소기업', '정책', '실장',...    15       1  80038
39942  ['유튜버', '김용호', '유튜브', '채널', '강용석', '나이트', '라이브...    -8       0  80040
39943  ['윤희', '경찰청장', '충북', '충주시', '중앙', '경찰', '학교', ...    11       1  80042
39944  ['날씨', '기록', '지난', '서울', '경복궁', '관광객', '양산', '...   -10       0  80044

[39945 rows x 4 columns]

In [13]:
seungsu = pd.read_csv('신뢰도분석파일.csv')
seungsu.rename({'Unnamed: 0':'인덱스'}, axis=1, inplace=True)
seungsu.drop('rank',axis=1, inplace=True)
seungsu.rename({'0':'점수'}, axis=1, inplace=True)

In [14]:
seungsu

,인덱스,제목,본문,점수,상중하
0,949,1월11일 인사,행정안전부 전보 과장급 이북5도 황해도 사무국장 배이철 대통령기록관 생산지...,-2.463000,0
1,971,[인사] 국무조정실 국무총리비서실 외,국무조정실 국무총리비서실 과장급 용산공원조성추진기획단 기획총괄 김민정 행정안전...,-2.463000,0
2,2723,[인사] 한국일보 외,룸국 차장 선임 김지은 차장대우 산업1부 이윤주 이슈365팀 김청환 스...,-2.463000,0
3,2819,[인사]문화일보 外,논설고문 이철호 교육부 교육부일반직고위공무원 김일수 책임교육정책실장 오승걸 울산광...,-2.463000,0
4,2963,오늘의 인사 - 2023년 1월 2일,보직 논설위원실 논설위원 안홍욱 신문국 정치에디터 김진우 국제에디터 조찬제...,-2.463000,0
...,...,...,...,...,...
34602,26196,‘취임 1주년’ 尹 지지율 37.5% 방미평가 긍정 55% 부정 40%,윤석열 대통령이 2일 오전 서울 용산 대통령실 청사에서 열린 국무회의를 주재하고 있...,97.563845,2
34603,33516,서울 아파트 거래량 증가세 뚜렷 대출 풀린 9억원 이하 인기,경기도 성남시 분당구에 아파트가 밀집해 있다. 1 아파트 거래량이 늘고 있다. ...,97.563845,2
34604,36558,1년2개월 만에 지방 아파트값도 하락세 멈춰,규제 완화 등의 효과로 수도권에 이어 지방 아파트값도 1년2개월여 만에 하락세를 멈...,97.563845,2
34605,49276,회복세 부동산 시장 양극화 심화 수도권 ‘온기’ 지방은 ‘냉기’,입주율 매매 청약 엇갈린 행보전국 아파트 입주율 66.7% 기록수도권은 5월 80....,97.563845,2
34606,53320,국내 성인 비만율 32.5% 30대 남성은 절반이 비만,기사와 직접적 관련 없는 참고사진. 게티이미지지난해 성인 비만율이 전년보다 소폭 증...,97.563845,2

### DB저장

In [5]:
import mariadb
import sys
import time

In [6]:
from sqlalchemy import create_engine
db_url = 'mariadb+mariadbconnector://root:root@127.0.0.1:3307/daegutimes'
engine = create_engine(db_url)

In [7]:
table_name = '학습데이터_요약'
sungjin.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

39945

In [52]:
table_name = '학습데이터_토픽'
yunmi.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

39945

In [56]:
table_name = '학습데이터_감성'
youna.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

39945

In [57]:
table_name = '학습데이터_신뢰도'
seungsu.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

34607

기간 핫 키워드

In [2]:
df = pd.read_csv('../DB_datas/output.csv')
df = df[df['Unnamed: 0'] != 43000]
df.rename({'Unnamed: 0':'인덱스'}, axis=1, inplace=True)
df = df[['일자','키워드']]
df['일자']=pd.to_datetime(df['일자'], format='%Y%m%d')

In [3]:
df

              일자                                                키워드
0     2023-01-15  하윤기,덩크,생애,올스타전,MVP,이대성,제압,허웅,전성현,3점,분전,허웅,생애,3...
1     2023-01-15  장제원,나경원,제2,유승민,제2,진박감별사,나경원,비판,응수,나경원,국민,의원,출마...
2     2023-01-15  북구갑,양금희,당직,국회평가,59%,북구갑,주민,59%,대통령,국정,수행,긍정,시장...
3     2023-01-15  서구,김상훈,3선,무난,의정,활동,평가,대통령,국정수행,62.1%,30.4%,긍정,...
4     2023-01-15  의원,동구갑,류성걸,재선,평균치,의원,류성걸,국민의힘,전반적,의정,활동,주민들,대구...
...          ...                                                ...
39941 2023-08-21  1년,우상혁,도전,세계,선수권,높이뛰기,우승,도전,바르심,무타즈,에사,32,저본,해...
39942 2023-08-20  중소벤처기업부,전보,중소,벤처,기업부,실장,중소기업정책실장,전보,이대희,소상공인,정...
39943 2023-08-20  명예,훼손,실형,김용호,조국,김건모,전처,사과,반성,연예,조국,법무부,장관,가수,김...
39944 2023-08-20  치안,불안,현장,1.4,누빌,순경,1.4,부족,경감,경위,경정,간부직,정원,사건,시...
39945 2023-08-19  무더위,최고,지역,소나기,경기,동부,강원,토요일,19일,지역,기온,33도,전국,무더...

[39945 rows x 2 columns]

In [7]:
tabel_name = '기간키워드'
df.to_sql(name = tabel_name, con = engine, if_exists = 'replace', index = False)

39945